h1 {
  font-size: 60px;
  width: 900px;
}

h2 {
  font-size: 30px;
  width: 900px;
}

p {
  font-size: 20px;
  width: 800px;

}

img {
  width: 60%;
  float:right;
  margin-left:10px;
  padding: 30px;
  border:solid blueviolet;
  background-color:aqua;
}
