h1 {
    color: #771145;
    font-size: 1000%;
}

h2 {
  color: #8034a7;
  font-size: 350%;
}

p {
   font-family: "monospace";
   font-size: 200%;
   text-indent: 50px;
   margin-left: 5px;
}

img {
     width: 1200px;
     margin-left: 20px;
     border: solid 15px #9ebba3;
     align-content: center;
}

#content {
    background-color: #9ebba3;
    width: 1200px;
    min-height: 400px;
    margin: 20px;
    border: solid 15px #46293a;
    text-align: center;
}

body {
  background-color: #754752;
}
