
h1 {
  font-size: 80px;
  font-family: inherit;
  font-style: bold;
  text-align: center;
}

img {
  width: 1200px;
  align-items: left;
}

p {
  font-size: 50px;
  align-content:center;
}
#paragraph {
  background-color: #b0ebfe;
  border:antiquewhite;
  width: 1200px;
  text-align: center;
}

h2 {
  font-size: 70px;
  text-align: center;
}

.lablist {
  background-color: #bf86bd7d;
  font-size: 40px;
  font-style: underline;
  text-align: center;
  width:1200px;
}
